<footer class="mt-16 mb-6">
    <nav class="flex flex-wrap justify-center">
        <twig:FooterLink linkText="About" />
        <twig:FooterLink linkText="Press Info" />
        <twig:FooterLink linkText="Services" />
        <twig:FooterLink linkText="Talks and Workshops" />
        <twig:FooterLink linkText="Podcast" />
        <twig:FooterLink linkText="Daily email" />
    </nav>
</footer>
